.quote {
  background: $c-white;
  border-radius: 12px;
  box-shadow: $shadow-xl;
  padding: 20px;
}

.quote-box {
  background: $gradient-200;
  border-radius: 8px;
  padding: 24px;
  color: $c-white;
  min-height: 35vh;
  display: flex;
  align-items: center;
}

.quote-title {
  text-align: center;
  font-size: 2vw;
}

.quote-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.quote-author {
  font-weight: $semi;
  &:before {
    content: "-";
    margin-right: 4px;
  }
}

.quote-tag {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  span {
    @include tag;
  }
}