.quote-tag-list {
  padding: 16px;
  box-shadow: $shadow-negative;
  position: relative;
  z-index: 1;
  h4 {
    margin: 8px 0;
  }
  ul {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    li {
      @include tag;
    }
  }
}